
body{
    font:15px/1.5 Arial,Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:#F9F7F7;
    --baslik:salmon;
}
/* Global */
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
    background-color: cadetblue;
}
.flexcontainer{
    width:80%;
    margin: auto;
    overflow: hidden;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
ul{
    padding: 0;
    margin-top: 20px;
}
.button_1{
    height: 33px;
    background:salmon;
    border: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.button_1:hover{
    transform: scale(1.05);
    animation-name: background-color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes background-color {
    100% {background-color: #4791d0;}
}
.button_2{
    height: 33px;
    background:salmon;
    border: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.button_2:hover{
    transform: skewx(15deg);
}
.dark{
    background:#3f72af;
    color: white;
    margin-top: 0px;
    margin-right:15px;
    margin-bottom: 10px;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: -10px 10px 20px 5px #112d4e;
}
.dark:hover{
    background-color:rgb(135, 191, 236);
    color:black;
}
.title{
    color:salmon;
    background-color: blueviolet;
}
/* Header */
header{
    background: #112d4e;
    color:white;
    min-height: 70px;
    position: sticky;
    top: 0px;
    animation: bcolor 5s infinite;
}
header a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    
}
header li{
    display: inline;
    padding: 10px 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
    padding-top: 10px;
}
header .highlight{
    color: salmon;
    font-family:'Audiowide';
    padding-right: 10px;
      
}
header .current a{
    color:var(--baslik, black);
    font-weight: bold;   
}
header a:hover{
    color: rgb(135, 191, 236);
    font-weight: bold;
}
/* Showcase */
#showcase{
    min-height: 400px;
    background: url(../img/main.jpg) no-repeat 0 -200px ;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white; 
    animation: bcolor 5s infinite;
}
@keyframes bcolor {
    0%{ border-bottom: #F9F7F7 solid 3px;}
    25%{ border-bottom: rgb(135, 191, 236) solid 3px;}
    50%{border-bottom: #3f72af solid 3px;}
    100%{ border-bottom: #F9F7F7 solid 3px;}     
}
#showcase h1{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 10px;
    color:white;
}
#showcase p{
    font-size: 20px;
}
/*Newsletter*/
#newsletter{
    padding: 15px;
    color: white;
    background: #112d4e;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 20px;
}
#newsletter input[type="email"]{
    height: 25px;
    width: 250px;
    padding: 2px;
}
/*Boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding:10px;
    text-align: center;
}
#boxes .box img{
    width: 250px;
    height: 150px;
    border-radius: 15px;
}
/*Sidebar*/
#sidebar{
    float: right;
    width: 30%;
    text-align: justify;
    
}
/*Main-Col*/
#main-col{
    float: left;
    width: 65%;
    text-align: justify;
}
/*Services*/
#services li{
    background: #dbe2ef;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    list-style: none;
    text-align: justify;
}
#sidebar .quote input, #sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
footer{
    color: white;
    background: salmon;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}
/*Media Queries*/
@media(max-width:768px){
    header #branding,header nav, header li, #boxes .box, #newsletter h1, header .flexcontainer{
        float: none;
        text-align: center;
        width: 100%;
        line-height: 1;
        flex-direction: column;
    }
}